.flex{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-item-center{
    align-items: center;
    }