/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 6rem;
}

.active {
  color: #ECAF4E;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.item {
  background-color: firebrick;
}

.item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.item2, .item11, .item13 {
  grid-column: 3/-1;
}

.item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.item10, .item12 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.item14 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.item17, .item18 {
  grid-column: 1/-1;
}

.item1 {
  background: url(../assets/media/home-img.jpg) 50% 40%, no-repeat;
  background-size: auto;
  height: 90vh;
}

.item2 {
  background-color: #f5e3d7;
  padding: 2rem;
}

.item2 header {
  padding: 0rem 6rem;
  padding-bottom: 5rem;
}

.item2 a {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: black;
}

.item2 h6 {
  font-size: 0.8rem;
  color: #a8a8a8;
  padding-bottom: 1.6rem;
}

.item2 h2 {
  font-size: 2.3rem;
  font-weight: 200;
}

.item2 h2 span {
  font-weight: 300;
}

.item2 p {
  font-weight: 200;
  color: #777777;
  margin: 1rem 0;
}

.item2 .btn {
  padding: 0.5rem 2.5rem;
  border: 3px solid black;
  border-radius: 1.2rem;
  display: inline-block;
  font-weight: 700;
}

.item3 {
  background-color: #ffffff;
  padding: 3rem 2rem;
}

.item3 h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

.item3 p {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.item4 {
  background: url(../assets/media/about-img.jpg) 50% 10%, no-repeat;
  background-size: auto;
}

.item5 {
  padding: 2.5rem;
  background-color: #ecaf4e;
}

.item5 h2 {
  font-size: 2.3rem;
  color: white;
  font-weight: 200;
}

.item5 p {
  color: white;
  font-size: 0.9rem;
  padding: 1.5rem 0;
}

.item5 ul {
  margin: 0.7rem 0;
}

.item5 ul li {
  font-size: 0.9rem;
}

#progressbar,
#progressbar2,
#progressbar3 {
  background-color: white;
  border-radius: 20px;
  padding: 0px;
}

#progressbar > div {
  background-color: black;
  width: 90%;
  height: 3px;
  border-radius: 10px;
}

#progressbar2 > div {
  background-color: black;
  width: 70%;
  height: 3px;
  border-radius: 10px;
}

#progressbar3 > div {
  background-color: black;
  width: 80%;
  height: 3px;
  border-radius: 10px;
}

.item6,
.item7,
.item8,
.item9 {
  text-align: center;
  padding: 2rem;
  color: white;
}

.item6 h2,
.item7 h2,
.item8 h2,
.item9 h2 {
  font-size: 1.6rem;
  font-weight: 200;
  margin: 1rem;
}

.item6 p,
.item7 p,
.item8 p,
.item9 p {
  font-weight: 100;
}

.item6 .fas,
.item6 .fab,
.item7 .fas,
.item7 .fab,
.item8 .fas,
.item8 .fab,
.item9 .fas,
.item9 .fab {
  font-size: 2rem;
}

.item6 {
  background-color: #ecaf4e;
}

.item7 {
  background-color: #ef663b;
}

.item8 {
  background-color: black;
}

.item9 {
  background-color: white;
  color: black;
}

.item10 {
  background: url(../assets/media/experience-img.jpg) 30% 40%, no-repeat;
  background-size: auto;
}

.item11,
.item12 {
  padding: 3rem;
  background-color: #ef663b;
  color: white;
}

.item11 h2,
.item12 h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

.item11 p,
.item12 p {
  font-size: 0.9rem;
  font-weight: 200;
}

.item11 h3,
.item12 h3 {
  font-size: 1.8rem;
  font-weight: 200;
}

.item11 h3 span,
.item12 h3 span {
  font-size: 1rem;
  font-weight: 400;
  color: #713234;
}

.item11 .fas,
.item12 .fas {
  font-size: 2rem;
}

.experiences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.experiences .fas {
  margin-right: 1rem;
}

.item12 {
  background-color: #ecaf4e;
}

.item13 {
  background: url(../assets/media/education-img.jpg) 50% 50%, no-repeat;
  background-size: auto;
}

.item14 {
  background-color: #ef663b;
  padding: 3rem;
  color: white;
}

.item14 h2 {
  font-size: 2.5rem;
  font-weight: 200;
}

.item14 input,
.item14 textarea {
  border: none;
  background-color: #ef663b;
  border-bottom: 2px solid #ecaf4e;
  width: 100%;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
}

.item14 input::-webkit-input-placeholder,
.item14 textarea::-webkit-input-placeholder {
  color: white;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.item14 input:-ms-input-placeholder,
.item14 textarea:-ms-input-placeholder {
  color: white;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.item14 input::-ms-input-placeholder,
.item14 textarea::-ms-input-placeholder {
  color: white;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.item14 input::placeholder,
.item14 textarea::placeholder {
  color: white;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.item14 a {
  padding: 0.7rem 8rem;
  background-color: white;
  display: inline-block;
  color: #6d6c6c;
  border-radius: 1.3rem;
  margin-top: 1rem;
}

.item15 {
  background: url(../assets/media/contact-img.jpg) 50% 20%, no-repeat;
}

.item16 {
  padding: 2rem;
  color: white;
  background-color: #0f0f0f;
}

.item16 h2 {
  font-size: 2rem;
  font-weight: 200;
  padding-bottom: 1rem;
}

.item16 p {
  font-size: .9rem;
  font-weight: 200;
  padding-bottom: 1.3rem;
}

.item16 a {
  color: white;
  font-weight: 100;
}

.item17 {
  padding: 2rem;
  background-color: #ef663b;
}

.item18 {
  background-color: white;
  height: 45vh;
  text-align: center;
  padding-top: 10rem;
}

.item18 li {
  margin-left: 2rem;
  margin-top: 1rem;
}

.item18 a {
  color: #474747;
}

.item18 p {
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */